<?xml version="1.0"?>
<config>
    <modules>
        <WebspeaksBasket_Basket>
            <version>0.1.1</version>
        </WebspeaksBasket_Basket>
    </modules>
    <frontend>
        <routers>
            <basket>
                <use>standard</use>
                <args>
                    <module>WebspeaksBasket_Basket</module>
                    <frontName>basket</frontName>
                </args>
            </basket>
        </routers>
        <layout>
            <updates>
                <basket>
                    <file>basket.xml</file>
                </basket>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<basket>
				<use>admin</use>
				<args>
					<module>WebspeaksBasket_Basket</module>
					<frontName>basket</frontName>
				</args>
			</basket>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<WebspeaksBasket_Basket>
							<title>Basket Module</title>
							<sort_order>10</sort_order>
						</WebspeaksBasket_Basket>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<basket>
					<file>basket.xml</file>
				</basket>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
        </models>
        <resources>
        </resources>
        <blocks>
            <basket>
                <class>WebspeaksBasket_Basket_Block</class>
            </basket>
        </blocks>
        <helpers>
            <basket>
                <class>WebspeaksBasket_Basket_Helper</class>
            </basket>
        </helpers>
    </global>
	<default>
		<bkconfig>
			<bk_group>
				<bk_enabled>1</bk_enabled>
				<bk_load_jq>1</bk_load_jq>
				<bk_class>.top-link-cart</bk_class>
			</bk_group>
		</bkconfig>
	</default>
</config>